EXPO_PUBLIC_SUPABASE_URL=https://oftywfrpcfbjpgpplszl.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_DhZ4fPlhhzIjqk8-B0s7Yg_PF4dl5-y
EXPO_PUBLIC_GEMINI_API_KEY=AIzaSyBRIIzjDvFfcht2G443mSxOw3sszAlFY7k